<!doctype html>
<html>
<head>
	<title>Google Calendar API</title>
	<script type="text/javascript" src="js/jquery-1.10.2.min.js"></script>
	<script type="text/javascript" src="js/application.js"></script>
	<script type="text/javascript" src="http://www.google.com/jsapi"></script>
	<script type="text/javascript" src="js/calendar.js"></script>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"/>
	<link rel="stylesheet" type="text/css" href="css/application.css"/>
</head>
<body>
	Test
	<div id="splash-page" class="container">
		<div id="header">

		</div>
		<div id="nav">

		</div>
		<div id="content">
<!-- 			<p/>Google Calendar API https://developers.google.com/google-apps/calendar/v2/developers_guide_python#CreatingGadgets

			<input[type="checkbox"]> This is your particular charity event from first giving API
			<label class="events">Option 1</label>
			<button>submit choices</button>	
			</form>

			<p/>This is all custom and it will be defined from First Giving charity search call backs
			<p/> "I ___________ .... "
			<form>
			<button/> Let's Do this
			</form> -->
		</div>
		<div id="footer">

		</div>
	</div>
</body>
</html>

